<h2>Cadastrar Usuario</h2>
<div>
    <label for="peso">Peso</label>
    <input id="peso" [(ngModel)]="peso" placeholder="Digite seu peso" />
</div>
<div>
    <label for="altura">Altura</label>
    <input id="nascimento" [(ngModel)]="altura" placeholder="Digite seu peso" />
</div>
<div>
    <label>Usuario</label>
    <select [(ngModel)] = "usuarioId">
    <option *ngFor="let u of usuarios" [value]="u.usuarioId">
    {{u.nome}}
</option>
</select>
</div>
<div>
    <button (click)="cadastrar()">Cadastrar</button>
</div>